In [1]:
from typing import List, Dict
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import LineString
import matplotlib.pyplot as plt
import contextily as ctx
import geoviews as gv
import cartopy.crs as ccrs

import plotly.express as px

from dataclasses import dataclass

from sqlalchemy import create_engine, text
import psycopg2

# -------------------------------------
# Database Configuration (Postgres)
# -------------------------------------
db_config = {
    "host": "143.248.230.55",
    "port": "5432",
    "dbname": "AIS_DB_Prototype",
    "user": "root",
    "password": "password",
}

# Build SQLAlchemy engine
database_url = (
    f"postgresql://{db_config['user']}:{db_config['password']}"
    f"@{db_config['host']}:{db_config['port']}/{db_config['dbname']}"
)
engine = create_engine(database_url)

In [ ]:
sql = "select * from public.ais_korea limit 10"
res = pd.read_sql(sql, engine)

In [5]:
res.columns

Index(['mmsi', 'eta', 'longitude', 'latitude', 'sog', 'cog', 'heading',
       'destination', 'navstatus', 'posutc', 'posutcmin', 'geom', 'shiptype',
       'shiptypecode', 'shipclass'],
      dtype='object')

In [9]:
sql = """SELECT 
    COUNT(*) AS total_records,
    MIN(posutc) AS earliest_report,
    MAX(posutc) AS latest_report
FROM  public.ais_korea"""
res2 = pd.read_sql(sql, engine)
res2

   total_records      earliest_report        latest_report
0       36000000  2023-11-01 00:00:05  2024-03-31 23:59:49

In [10]:
sql = """SELECT 
    shiptype,
    shiptypecode,
    COUNT(*) AS vessel_count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) AS percentage
FROM  public.ais_korea
WHERE shiptype IS NOT NULL
GROUP BY shiptype, shiptypecode
ORDER BY vessel_count DESC
LIMIT 10;"""
res3 = pd.read_sql(sql, engine)
res3

           shiptype shiptypecode  vessel_count  percentage
0     GENERAL_CARGO           70       6473932       17.98
1          DRY_BULK           70       6116656       16.99
2    TANKER_PRODUCT           80       3761722       10.45
3         CONTAINER           70       3515786        9.77
4  TANKER_CHEMICALS           80       3401070        9.45
5               TUG           52       2755573        7.65
6           FISHING           30       2692428        7.48
7    GENERAL_TANKER           80       1219570        3.39
8       GAS_CARRIER           70        988491        2.75
9      TANKER_CRUDE           80        852519        2.37

In [11]:
sql = """SELECT 
    destination,
    COUNT(*) AS destination_count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) AS percentage
FROM  public.ais_korea
WHERE destination IS NOT NULL AND destination != ''
GROUP BY destination
ORDER BY destination_count DESC
LIMIT 10;"""
res4 = pd.read_sql(sql, engine)
res4

  destination  destination_count  percentage
0       BUSAN            1955540        5.43
1      KR USN            1530042        4.25
2      KR PUS            1258343        3.50
3       ULSAN            1178418        3.27
4     Unknown             921105        2.56
5      KR YOS             888629        2.47
6       KRPUS             766080        2.13
7       YEOSU             641567        1.78
8      KR PTK             626702        1.74
9      KR INC             591379        1.64

In [12]:
sql = """SELECT 
    t.shiptype,
    t.shiptypecode,
    COUNT(DISTINCT t.mmsi) AS vessel_count,
    ROUND(COUNT(DISTINCT t.mmsi) * 100.0 / SUM(COUNT(DISTINCT t.mmsi)) OVER (), 2) AS percentage
FROM public.ais_korea t
WHERE t.shiptype IS NOT NULL
GROUP BY t.shiptype, t.shiptypecode
ORDER BY vessel_count DESC
LIMIT 10;"""
res5 = pd.read_sql(sql, engine)
res5

           shiptype shiptypecode  vessel_count  percentage
0          DRY_BULK           70          5869       27.66
1     GENERAL_CARGO           70          4498       21.20
2         CONTAINER           70          2196       10.35
3           FISHING           30          2168       10.22
4    TANKER_PRODUCT           80          1204        5.67
5  TANKER_CHEMICALS           80           916        4.32
6      TANKER_CRUDE           80           634        2.99
7               TUG           52           493        2.32
8    GENERAL_TANKER           80           481        2.27
9       CAR_CARRIER           70           435        2.05

In [14]:
sql = """WITH VesselPoints AS (
    SELECT 
        mmsi,
        shiptype,
        shiptypecode,
        COUNT(*) AS point_count
    FROM public.ais_korea
    WHERE shiptype IS NOT NULL
    GROUP BY mmsi, shiptype, shiptypecode
)
SELECT 
    shiptype,
    shiptypecode,
    COUNT(DISTINCT mmsi) AS vessel_count,
    ROUND(AVG(point_count), 2) AS avg_points_per_vessel,
    SUM(point_count) AS total_points
FROM VesselPoints
GROUP BY shiptype, shiptypecode
ORDER BY avg_points_per_vessel DESC;"""
res6 = pd.read_sql(sql, engine)
res6

,shiptype,shiptypecode,vessel_count,avg_points_per_vessel,total_points
0,ANTI_POLLUTION,54,13,6613.77,85979.0
1,TUG,52,493,5589.40,2755573.0
2,VEHICLE_PASSENGER,60,106,5401.17,572524.0
3,ROLL_ON_ROLL_OFF,70,96,4521.29,434044.0
4,PASSENGER,60,132,3892.19,513769.0
5,TANKER_CHEMICALS,80,916,3712.96,3401070.0
6,TANKER_PRODUCT,80,1204,3124.35,3761722.0
7,REEFER,70,153,3006.85,460048.0
8,GENERAL_TANKER,80,481,2535.49,1219570.0
9,PILOT_VESSEL,50,14,2450.07,34301.0
10,GAS_CARRIER,70,422,2342.40,988491.0
11,DREDGER,33,36,2122.86,76423.0
12,PORT_TENDER,53,21,2105.62,44218.0
13,LAW_ENFORCEMENT,55,57,1896.77,108116.0
14,HIGH_SPEED_CRAFT,40,34,1658.29,56382.0
15,LNG_CARRIER,70,327,1641.24,536685.0
16,SPECIAL_CRAFT,90,5,1625.80,8129.0
17,CONTAINER,70,2196,1601.00,3515786.0
18,SAILING,36,15,1594.40,23916.0
19,GENERAL_CARGO,70,4498,1439.29,6473932.0
20,TANKER_CRUDE,80,634,1344.67,852519.0
21,CAR_CARRIER,70,435,1333.23,579956.0
22,FISHING,30,2168,1241.89,2692428.0
23,DRY_BULK,70,5869,1042.20,6116656.0
24,MILITARY_OPS,35,15,922.33,13835.0
25,Not available,0,298,913.00,272074.0
26,OTHER,90,362,803.09,290718.0
27,SEARCH_AND_RESCUE,51,30,723.37,21701.0
28,MEDICAL_TRANS,58,2,709.50,1419.0
29,PLEASURE_CRAFT,37,41,575.49,23595.0
30,OFFSHORE,90,103,563.83,58075.0
31,LIVESTOCK,70,8,265.88,2127.0
32,COMBINATION_CARRIER,70,1,242.00,242.0
33,Unknown,0,36,110.47,3977.0

## Functions

In [3]:
def load_fishing_vessels_voyages_with_loitering(sample_n: int = 5) -> pd.DataFrame:

    sql = text(
        """
        SELECT
            mmsi,
            CAST(eta AS TIMESTAMP)
            AS eta_time,
            COUNT(*)
            AS entry_count
            FROM public.loitering_new_v2
            GROUP BY
            mmsi,
            CAST(eta AS TIMESTAMP)
            HAVING
            COUNT(*) > 10
            ORDER BY
            entry_count desc,
            mmsi,
            eta_time
        LIMIT :n;
    """
    )
    return pd.read_sql(sql, engine, params={"n": sample_n}, parse_dates=["eta_time"])

def load_loitering_part_of_trajectory(mmsi: int, eta_time: pd.Timestamp) -> pd.DataFrame:
    sql = text(
        """
        SELECT 
            posutc AS ts_string,
            latitude,
            longitude,
            sog,
            cog,
            heading
        FROM public.loitering_new_v2
        WHERE mmsi = :m
          AND CAST(eta AS TIMESTAMP) = :e
        ORDER BY posutc::timestamp;
    """
    )
    df = pd.read_sql(sql, engine, params={"m": mmsi, "e": eta_time})
    df["timestamp"] = pd.to_datetime(df["ts_string"], errors="coerce")

    # Convert columns to numeric, coercing invalid values to NaN
    numeric_columns = ["latitude", "longitude", "sog", "cog", "heading"]
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

    df.drop(columns=["ts_string"], inplace=True)
    # Drop rows where any of the specified columns or timestamp is NaN
    return df.dropna(subset=["timestamp"] + numeric_columns)

def load_full_trajectory(mmsi: int, eta_time: pd.Timestamp) -> pd.DataFrame:
    """
    Load ALL AIS points (posutc, latitude, longitude, sog, cog, heading)
    for a given (mmsi, eta) from ais_korea.
    Returns a DataFrame with parsed timestamps.
    """
    sql = text(
        """
        SELECT 
            posutc AS ts_string,
            latitude,
            longitude,
            sog,
            cog,
            heading
        FROM public.ais_korea
        WHERE mmsi = :m
          AND CAST(eta AS TIMESTAMP) = :e
        ORDER BY posutc::timestamp;
    """
    )
    df = pd.read_sql(sql, engine, params={"m": mmsi, "e": eta_time})
    df["timestamp"] = pd.to_datetime(df["ts_string"], errors="coerce")

    # Convert columns to numeric, coercing invalid values to NaN
    numeric_columns = ["latitude", "longitude", "sog", "cog", "heading"]
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

    df.drop(columns=["ts_string"], inplace=True)
    # Drop rows where any of the specified columns or timestamp is NaN
    return df.dropna(subset=["timestamp"] + numeric_columns)


# latitude	longitude	sog	cog	heading	timestamp
@dataclass
class AISColumnNames:
    # Date: str = "Date"
    # Sampled_Date: str = "Sampled_Date"
    # Latitude: str = "Latitude"
    # Longitude: str = "Longitude"
    # Pseudo_Longitude: str = "Pseudo_Longitude"
    # SOG: str = "SOG"
    # COG: str = "COG"
    # Heading: str = "Heading"

    # n_Latitude: str = "norm Latitude"
    # n_Longitude: str = "norm Longitude"
    # n_SOG: str = "norm SOG"
    # n_COG: str = "norm COG"
    # n_Heading: str = "norm Heading"
    Date: str = "timestamp"
    Sampled_Date: str = "sampled_timestamp"
    Latitude: str = "latitude"
    Longitude: str = "longitude"
    Pseudo_Longitude: str = "pseudo_longitude"
    SOG: str = "sog"
    COG: str = "cog"
    Heading: str = "heading"

    n_Latitude: str = "norm_latitude"
    n_Longitude: str = "norm_longitude"
    n_SOG: str = "norm_sog"
    n_COG: str = "norm_cog"
    n_Heading: str = "norm_heading"

    is_synthetic: str = "is_synthetic"
    to_predict: str = "to_predict"


cols: AISColumnNames = AISColumnNames()
target_freq_in_minutes = 10
target_freq: str = f"{target_freq_in_minutes}min"
sample_T: pd.Timedelta = pd.Timedelta(minutes=target_freq_in_minutes)


def get_sampled_trajectory(trajectory: pd.DataFrame) -> pd.DataFrame:
    trajectory[cols.Date] = pd.to_datetime(trajectory[cols.Date])
    trajectory = trajectory.set_index(cols.Date)
    trajectory = trajectory.sort_index()

    # add first and last steps of trajectory which are divisible by 10 minutes
    first = trajectory.iloc[:1].copy()
    first.index = [trajectory.index.min().floor(target_freq)]
    last = trajectory.iloc[-1:].copy()
    last.index = [trajectory.index.max().ceil(target_freq)]
    trajectory = pd.concat([first, trajectory, last])

    # Define exact 10-minute sampling times
    start_time = trajectory.index.min().floor("h")  # Round down to the nearest hour
    end_time = trajectory.index.max().ceil("h")  # Round up to the nearest hour
    sampling_times = pd.date_range(start_time, end_time, freq=target_freq)

    # Filter only timestamps where at least one real record exists within ±10 minutes
    valid_sampling_times = [
        t for t in sampling_times if any(abs(trajectory.index - t) <= sample_T)
    ]

    trajectory = trajectory[~trajectory.index.duplicated(keep="first")]
    trajectory_interpolated = trajectory.reindex(
        trajectory.index.union(valid_sampling_times)
    ).sort_index()

    # Perform linear interpolation
    trajectory_interpolated = trajectory_interpolated.interpolate(method="time")

    # Keep only the sampled timestamps and drop any remaining NaNs
    trajectory_sampled = (
        trajectory_interpolated.loc[valid_sampling_times].dropna().reset_index()
    )
    trajectory_sampled.rename(columns={"index": cols.Sampled_Date}, inplace=True)
    return trajectory_sampled


def get_trajectory_sequences(
    trajectory_sampled: pd.DataFrame, time_column_name=None
) -> List[pd.DataFrame]:
    if time_column_name is None:
        time_column_name = cols.Sampled_Date
    trajectory_sequences: List[pd.DataFrame] = []  # To store the sequences
    current_sequence = pd.DataFrame(
        columns=trajectory_sampled.columns
    )  # DF To track the current sequence

    # Iterate through the timestamps
    for i in range(len(trajectory_sampled) - 1):
        if (
            trajectory_sampled[time_column_name][i + 1]
            - trajectory_sampled[time_column_name][i]
            == sample_T
        ):
            # If the difference is 10 minutes, add the current timestamp to the sequence
            if len(current_sequence) == 0:
                current_sequence = trajectory_sampled.iloc[
                    [i]
                ]  # Add the first timestamp of the sequence
            current_sequence = pd.concat(
                [current_sequence, trajectory_sampled.iloc[[i + 1]]],
                ignore_index=True,
            )  # Add the next timestamp
        else:
            # If the difference is not 10 minutes, end the current sequence
            if len(current_sequence) != 0:
                trajectory_sequences.append(
                    current_sequence
                )  # Store the completed sequence
                current_sequence = pd.DataFrame(
                    columns=trajectory_sampled.columns
                )  # Reset the current sequence

    # Handle the last sequence if it ends at the last timestamp
    if len(current_sequence) != 0:
        trajectory_sequences.append(current_sequence)

    return trajectory_sequences


def plot_plotly_trajectory_groups(
    df_groups: List[List[pd.DataFrame]],
    group_names,
    color_sequence=None,
    line_width=2,
    marker_size=4,
):
    if not df_groups:
        raise ValueError("Empty list of DataFrame groups provided")

    if color_sequence is None:
        color_sequence = px.colors.qualitative.Plotly

    # Create empty figure with proper mapbox setup
    fig = px.scatter_mapbox(lat=[None], lon=[None]).update_layout(
        mapbox_style="open-street-map", mapbox_zoom=8, height=600
    )
    min_lat = 360
    max_lat = 0
    min_lon = 360
    max_lon = 0
    for group_id, df_group in enumerate(df_groups):
        group_color = color_sequence[group_id % len(color_sequence)]

        for segment_id, df in enumerate(df_group):
            if len(df) == 0:
                continue  # Skip empty dataframes

            # Add line trace for this segment
            fig.add_trace(
                px.line_mapbox(
                    df,
                    lat=cols.Latitude,
                    lon=cols.Longitude,
                    color_discrete_sequence=[group_color],
                )
                .data[0]
                .update(
                    mode="lines+markers",
                    line=dict(width=line_width),
                    marker=dict(size=marker_size),
                    name=f"{group_names[group_id]}",
                    showlegend=(segment_id == 0),  # Only show legend for first segment
                    legendgroup=f"{group_names[group_id]}",
                    hoverinfo="text",
                    customdata=df[[cols.Sampled_Date, cols.SOG, cols.COG]],
                    hovertemplate=(
                        "Latitude: %{lat}<br>"
                        "Longitude: %{lon}<br>"
                        "Date: %{customdata[0]}<br>"
                        "SOG: %{customdata[1]}<br>"
                        "COG: %{customdata[2]}<br>"
                    ),
                )
            )

            # min/max lat/lot
            min_lat = min(min_lat, df[cols.Latitude].min())
            max_lat = max(max_lat, df[cols.Latitude].max())
            min_lon = min(min_lon, df[cols.Longitude].min())
            max_lon = max(max_lon, df[cols.Longitude].max())

    fig.update_layout(
        margin={"r": 0, "t": 40, "l": 0, "b": 0},
        showlegend=True,
        legend_title_text="Trajectory Groups",
        title="Vessel Trajectory",
    )

    # Auto-zoom to the data
    if len(df_groups) > 0 and len(df_groups[0]) > 0:
        fig.update_mapboxes(
            center=dict(lat=(min_lat + max_lat) / 2, lon=(min_lon + max_lon) / 2)
        )

    return fig

## Code

In [8]:
voyages_df = load_fishing_vessels_voyages_with_loitering(sample_n=100000)
voyages_df  # display the sample selection

           mmsi            eta_time  entry_count
0     431000306 2024-01-12 08:30:00        15116
1     440152970 2023-08-13 12:00:00        10055
2     431022371 2023-09-28 08:00:00         5486
3     431002273 2024-01-26 18:30:00         5029
4     431000523 2024-03-08 08:30:00         3900
...         ...                 ...          ...
2661  563727000 2023-11-03 07:10:00           11
2662  636018238 2024-03-29 22:15:00           11
2663  636018725 2024-02-20 02:00:00           11
2664  636020743 2023-12-29 22:30:00           11
2665  636023270 2023-12-25 01:00:00           11

[2666 rows x 3 columns]

In [9]:
# voyages_df = load_fishing_vessels_voyages(sample_n=100)
# voyages_df  # display the sample selection
current_voyages_df = voyages_df[1000:]

for idx, row in current_voyages_df.iterrows():
    print(idx, row)
    try:
        m       = int(row["mmsi"])
        eta_val = row["eta_time"]
        
        # Load full trajectory points
        df = load_full_trajectory(m, eta_val)
        sampled_boat_trajectory = get_sampled_trajectory(df)
        sampled_boat_trajectory.to_csv(f"../../data/loitering_sampled/mmsi_{m}_eta_val_{eta_val}.csv")
        # sample_traj_sequences = get_trajectory_sequences(sampled_boat_trajectory)
        # fig = plot_plotly_trajectory_groups([sample_traj_sequences], group_names=["Initial trajectory"])
        # fig.write_image(f"../../results/loitering_sampled/png_len_{len(sampled_boat_trajectory)}_mmsi_{m}_eta_val_{eta_val}.png")
        # fig.write_html(f"../../results/loitering_sampled/html_len_{len(sampled_boat_trajectory)}_mmsi_{m}_eta_val_{eta_val}.html")
        
        
        df_loitering = load_loitering_part_of_trajectory(m, eta_val)
        sampled_boat_trajectory_loitering = get_sampled_trajectory(df_loitering)
        sampled_boat_trajectory_loitering.to_csv(f"../../data/loitering_sampled/mmsi_{m}_eta_val_{eta_val}_loitering.csv")
        # sample_traj_sequences_loitering = get_trajectory_sequences(sampled_boat_trajectory_loitering)
        # fig = plot_plotly_trajectory_groups([sample_traj_sequences_loitering], group_names=["Initial trajectory"])
        # fig.write_image(f"../../results/loitering_sampled/png_len_{len(sampled_boat_trajectory_loitering)}_mmsi_{m}_eta_val_{eta_val}_loitering.png")
        # fig.write_html(f"../../results/loitering_sampled/html_len_{len(sampled_boat_trajectory_loitering)}_mmsi_{m}_eta_val_{eta_val}_loitering.html")
    except Exception as e:
        print(f"Couldn't process {row}: e")

1000 mmsi                     352002796
eta_time       2024-02-14 15:00:00
entry_count                    103
Name: 1000, dtype: object
1001 mmsi                     412412406
eta_time       2024-01-01 00:00:00
entry_count                    103
Name: 1001, dtype: object
1002 mmsi                     412420269
eta_time       2023-12-10 12:00:00
entry_count                    103
Name: 1002, dtype: object
1003 mmsi                     431013557
eta_time       2023-12-15 18:00:00
entry_count                    103
Name: 1003, dtype: object
1004 mmsi                     431015414
eta_time       2024-03-18 11:45:00
entry_count                    103
Name: 1004, dtype: object
1005 mmsi                     440313240
eta_time       2023-11-18 11:00:00
entry_count                    103
Name: 1005, dtype: object
1006 mmsi                     636091959
eta_time       2024-02-28 16:00:00
entry_count                    103
Name: 1006, dtype: object
1007 mmsi                     412200557
eta_time       2024-01-01 00:00:00
entry_count                    102
Name: 1007, dtype: object
1008 mmsi                     414923000
eta_time       2023-12-30 16:00:00
entry_count                    102
Name: 1008, dtype: object
1009 mmsi                     431013557
eta_time       2023-12-11 18:00:00
entry_count                    102
Name: 1009, dtype: object
1010 mmsi                     431015414
eta_time       2024-03-11 13:25:00
entry_count                    102
Name: 1010, dtype: object
1011 mmsi                     431015414
eta_time       2024-03-14 11:45:00
entry_count                    102
Name: 1011, dtype: object
1012 mmsi                     440104680
eta_time       2023-02-16 00:00:00
entry_count                    102
Name: 1012, dtype: object
1013 mmsi                     538007503
eta_time       2024-02-18 19:00:00
entry_count                    102
Name: 1013, dtype: object
1014 mmsi                     412210315
eta_time       2024-01-01 01:01:00
entry_count                    101
Name: 1014, dtype: object
1015 mmsi                     412420761
eta_time       2023-12-10 12:00:00
entry_count                    101
Name: 1015, dtype: object
1016 mmsi                     431013557
eta_time       2024-03-11 23:00:00
entry_count                    101
Name: 1016, dtype: object
1017 mmsi                     431013557
eta_time       2024-03-13 22:50:00
entry_count                    101
Name: 1017, dtype: object
1018 mmsi                     440077880
eta_time       2024-03-07 19:00:00
entry_count                    101
Name: 1018, dtype: object
1019 mmsi                     441990000
eta_time       2024-01-05 05:00:00
entry_count                    101
Name: 1019, dtype: object
1020 mmsi                     244569000
eta_time       2023-11-30 08:30:00
entry_count                    100
Name: 1020, dtype: object
1021 mmsi                     273319440
eta_time       2023-08-03 21:00:00
entry_count                    100
Name: 1021, dtype: object
1022 mmsi                     412200458
eta_time       2024-01-01 00:00:00
entry_count                    100
Name: 1022, dtype: object
1023 mmsi                     412443739
eta_time       2024-02-07 06:28:00
entry_count                    100
Name: 1023, dtype: object
1024 mmsi                     431013557
eta_time       2024-03-26 18:00:00
entry_count                    100
Name: 1024, dtype: object
1025 mmsi                     431015414
eta_time       2024-03-25 13:25:00
entry_count                    100
Name: 1025, dtype: object
1026 mmsi                     440133050
eta_time       2023-05-08 15:00:00
entry_count                    100
Name: 1026, dtype: object
1027 mmsi                     440154997
eta_time       2023-07-09 02:00:00
entry_count                     99
Name: 1027, dtype: object
1028 mmsi                     548687000
eta_time       2023-12-16 11:48:00
entry_count                     99
Name: 1028, dtype: object
1029 mmsi                     636023204
eta_time       2023-12-29 04:00:00
entry_count                     99
Name: 1029, dtype: object
1030 mmsi                     100912003
eta_time       2022-10-10 10:11:00
entry_count                     98
Name: 1030, dtype: object
1031 mmsi                     305086000
eta_time       2023-12-06 00:50:00
entry_count                     98
Name: 1031, dtype: object
1032 mmsi                     312482000
eta_time       2023-12-13 18:00:00
entry_count                     98
Name: 1032, dtype: object
1033 mmsi                     431006367
eta_time       2024-03-28 19:20:00
entry_count                     98
Name: 1033, dtype: object
1034 mmsi                     431013876
eta_time       2024-01-04 13:25:00
entry_count                     98
Name: 1034, dtype: object
1035 mmsi                     431015341
eta_time       2024-03-24 23:00:00
entry_count                     98
Name: 1035, dtype: object
1036 mmsi                     563152700
eta_time       2024-01-25 09:00:00
entry_count                     98
Name: 1036, dtype: object
1037 mmsi                     412211536
eta_time       2024-01-01 00:00:00
entry_count                     97
Name: 1037, dtype: object
1038 mmsi                     431015414
eta_time       2024-03-06 11:45:00
entry_count                     97
Name: 1038, dtype: object
1039 mmsi                     431015414
eta_time       2024-03-10 11:45:00
entry_count                     97
Name: 1039, dtype: object
1040 mmsi                     431015414
eta_time       2024-03-13 13:25:00
entry_count                     97
Name: 1040, dtype: object
1041 mmsi                     440041740
eta_time       2023-12-18 08:30:00
entry_count                     97
Name: 1041, dtype: object
1042 mmsi                     440120090
eta_time       2024-01-01 00:00:00
entry_count                     97
Name: 1042, dtype: object
1043 mmsi                     440312820
eta_time       2023-03-16 00:00:00
entry_count                     97
Name: 1043, dtype: object
1044 mmsi                     412351639
eta_time       2024-01-01 00:00:00
entry_count                     96
Name: 1044, dtype: object
1045 mmsi                     412422654
eta_time       2022-09-29 10:10:00
entry_count                     96
Name: 1045, dtype: object
1046 mmsi                     412449759
eta_time       2022-01-01 00:00:00
entry_count                     96
Name: 1046, dtype: object
1047 mmsi                     431013557
eta_time       2023-12-19 18:00:00
entry_count                     96
Name: 1047, dtype: object
1048 mmsi                     431015414
eta_time       2023-12-27 11:45:00
entry_count                     96
Name: 1048, dtype: object
1049 mmsi                     440304970
eta_time       2023-12-12 12:12:00
entry_count                     96
Name: 1049, dtype: object
1050 mmsi                     538010447
eta_time       2023-12-15 17:30:00
entry_count                     96
Name: 1050, dtype: object
1051 mmsi                     352980782
eta_time       2023-12-12 07:00:00
entry_count                     95
Name: 1051, dtype: object
1052 mmsi                     412035888
eta_time       2024-01-01 00:00:00
entry_count                     95
Name: 1052, dtype: object
1053 mmsi                     412423507
eta_time       2022-05-23 05:00:00
entry_count                     95
Name: 1053, dtype: object
1054 mmsi                     431006367
eta_time       2024-02-08 19:20:00
entry_count                     95
Name: 1054, dtype: object
1055 mmsi                     431013557
eta_time       2024-03-31 22:50:00
entry_count                     95
Name: 1055, dtype: object
1056 mmsi                     440093000
eta_time       2024-03-29 21:30:00
entry_count                     95
Name: 1056, dtype: object
1057 mmsi                     636092960
eta_time       2023-12-04 20:30:00
entry_count                     95
Name: 1057, dtype: object
1058 mmsi                     222222222
eta_time       2023-12-31 00:00:00
entry_count                     94
Name: 1058, dtype: object
1059 mmsi                     229263000
eta_time       2024-02-21 18:00:00
entry_count                     94
Name: 1059, dtype: object
1060 mmsi                     255806483
eta_time       2024-02-26 12:00:00
entry_count                     94
Name: 1060, dtype: object
1061 mmsi                     312977000
eta_time       2023-12-08 21:10:00
entry_count                     94
Name: 1061, dtype: object
1062 mmsi                     352003313
eta_time       2023-12-23 00:00:00
entry_count                     94
Name: 1062, dtype: object
1063 mmsi                     352153000
eta_time       2024-01-30 22:00:00
entry_count                     94
Name: 1063, dtype: object
1064 mmsi                     374333000
eta_time       2023-12-08 02:30:00
entry_count                     94
Name: 1064, dtype: object
1065 mmsi                     412225938
eta_time       2023-01-01 00:00:00
entry_count                     94
Name: 1065, dtype: object
1066 mmsi                     431005199
eta_time       2023-12-11 17:20:00
entry_count                     94
Name: 1066, dtype: object
1067 mmsi                     431013557
eta_time       2023-12-21 18:00:00
entry_count                     94
Name: 1067, dtype: object
1068 mmsi                     431013876
eta_time       2024-01-07 11:45:00
entry_count                     94
Name: 1068, dtype: object
1069 mmsi                     431015414
eta_time       2024-03-27 13:25:00
entry_count                     94
Name: 1069, dtype: object
1070 mmsi                     412300059
eta_time       2024-01-01 00:00:00
entry_count                     93
Name: 1070, dtype: object
1071 mmsi                     412439675
eta_time       2024-01-01 01:01:00
entry_count                     93
Name: 1071, dtype: object
1072 mmsi                     431010889
eta_time       2024-01-14 11:15:00
entry_count                     93
Name: 1072, dtype: object
1073 mmsi                     431015341
eta_time       2024-02-13 22:50:00
entry_count                     93
Name: 1073, dtype: object
1074 mmsi                     431015414
eta_time       2024-03-08 11:45:00
entry_count                     93
Name: 1074, dtype: object
1075 mmsi                     477692400
eta_time       2023-12-05 22:00:00
entry_count                     93
Name: 1075, dtype: object
1076 mmsi                     477813500
eta_time       2023-12-15 12:00:00
entry_count                     93
Name: 1076, dtype: object
1077 mmsi                     101125569
eta_time       2024-01-01 01:01:00
entry_count                     92
Name: 1077, dtype: object
1078 mmsi                     412328936
eta_time       2024-01-01 00:00:00
entry_count                     92
Name: 1078, dtype: object
1079 mmsi                     412331311
eta_time       2023-01-01 00:00:00
entry_count                     92
Name: 1079, dtype: object
1080 mmsi                     413561860
eta_time       2023-12-25 19:00:00
entry_count                     92
Name: 1080, dtype: object
1081 mmsi                     431006367
eta_time       2024-02-20 19:20:00
entry_count                     92
Name: 1081, dtype: object
1082 mmsi                     431013557
eta_time       2023-11-08 22:50:00
entry_count                     92
Name: 1082, dtype: object
1083 mmsi                     431013557
eta_time       2023-12-02 22:50:00
entry_count                     92
Name: 1083, dtype: object
1084 mmsi                     431015341
eta_time       2023-12-26 18:00:00
entry_count                     92
Name: 1084, dtype: object
1085 mmsi                     431400282
eta_time       2023-12-12 01:40:00
entry_count                     92
Name: 1085, dtype: object
1086 mmsi                     440707190
eta_time       2024-01-05 17:00:00
entry_count                     92
Name: 1086, dtype: object
1087 mmsi                     477940600
eta_time       2024-02-06 20:00:00
entry_count                     92
Name: 1087, dtype: object
1088 mmsi                     538009551
eta_time       2023-12-07 02:00:00
entry_count                     92
Name: 1088, dtype: object
1089 mmsi                     636023265
eta_time       2023-11-30 02:00:00
entry_count                     92
Name: 1089, dtype: object
1090 mmsi                     636023802
eta_time       2024-03-12 08:00:00
entry_count                     92
Name: 1090, dtype: object
1091 mmsi                     319025300
eta_time       2024-02-18 06:00:00
entry_count                     91
Name: 1091, dtype: object
1092 mmsi                     413445599
eta_time       2024-01-01 00:00:00
entry_count                     91
Name: 1092, dtype: object
1093 mmsi                     413567710
eta_time       2023-12-30 20:00:00
entry_count                     91
Name: 1093, dtype: object
1094 mmsi                     431015341
eta_time       2023-12-03 23:00:00
entry_count                     91
Name: 1094, dtype: object
1095 mmsi                     431015414
eta_time       2023-12-08 13:25:00
entry_count                     91
Name: 1095, dtype: object
1096 mmsi                     431023298
eta_time       2024-01-25 00:00:00
entry_count                     91
Name: 1096, dtype: object
1097 mmsi                     440313250
eta_time       2023-06-08 12:00:00
entry_count                     91
Name: 1097, dtype: object
1098 mmsi                     636015777
eta_time       2023-12-28 16:00:00
entry_count                     91
Name: 1098, dtype: object
1099 mmsi                     200000000
eta_time       2024-03-30 05:45:00
entry_count                     90
Name: 1099, dtype: object
1100 mmsi                     222222222
eta_time       2024-01-24 09:20:00
entry_count                     90
Name: 1100, dtype: object
1101 mmsi                     412280013
eta_time       2022-12-31 00:00:00
entry_count                     90
Name: 1101, dtype: object
1102 mmsi                     431013557
eta_time       2024-03-09 22:50:00
entry_count                     90
Name: 1102, dtype: object
1103 mmsi                     440307870
eta_time       2023-07-27 13:00:00
entry_count                     90
Name: 1103, dtype: object
1104 mmsi                     441719000
eta_time       2024-02-08 03:00:00
entry_count                     90
Name: 1104, dtype: object
1105 mmsi                     563206600
eta_time       2023-11-06 00:00:00
entry_count                     90
Name: 1105, dtype: object
1106 mmsi                     222222222
eta_time       2024-03-11 12:30:00
entry_count                     89
Name: 1106, dtype: object
1107 mmsi                     414924000
eta_time       2024-01-09 22:00:00
entry_count                     89
Name: 1107, dtype: object
1108 mmsi                     431010889
eta_time       2024-01-19 11:15:00
entry_count                     89
Name: 1108, dtype: object
1109 mmsi                     431013557
eta_time       2023-12-24 22:50:00
entry_count                     89
Name: 1109, dtype: object
1110 mmsi                     431013557
eta_time       2024-03-15 22:50:00
entry_count                     89
Name: 1110, dtype: object
1111 mmsi                     440909000
eta_time       2023-08-13 16:10:00
entry_count                     89
Name: 1111, dtype: object
1112 mmsi                     477940600
eta_time       2024-02-07 20:00:00
entry_count                     89
Name: 1112, dtype: object
1113 mmsi                     538010566
eta_time       2024-01-12 09:00:00
entry_count                     89
Name: 1113, dtype: object
1114 mmsi                     111111111
eta_time       2023-10-09 12:00:00
entry_count                     88
Name: 1114, dtype: object
1115 mmsi                     259093000
eta_time       2023-12-23 15:00:00
entry_count                     88
Name: 1115, dtype: object
1116 mmsi                     273426890
eta_time       2023-02-28 12:00:00
entry_count                     88
Name: 1116, dtype: object
1117 mmsi                     319103100
eta_time       2023-12-13 16:00:00
entry_count                     88
Name: 1117, dtype: object
1118 mmsi                     353320000
eta_time       2024-03-20 11:00:00
entry_count                     88
Name: 1118, dtype: object
1119 mmsi                     412210162
eta_time       2024-01-01 00:00:00
entry_count                     88
Name: 1119, dtype: object
1120 mmsi                     431006367
eta_time       2024-01-15 19:20:00
entry_count                     88
Name: 1120, dtype: object
1121 mmsi                     431006367
eta_time       2024-02-22 19:20:00
entry_count                     88
Name: 1121, dtype: object
1122 mmsi                     431015341
eta_time       2024-02-17 22:50:00
entry_count                     88
Name: 1122, dtype: object
1123 mmsi                     431015414
eta_time       2024-03-09 13:25:00
entry_count                     88
Name: 1123, dtype: object
1124 mmsi                     431023049
eta_time       2023-12-19 00:00:00
entry_count                     88
Name: 1124, dtype: object
1125 mmsi                     431005199
eta_time       2023-12-29 17:20:00
entry_count                     87
Name: 1125, dtype: object
1126 mmsi                     431013557
eta_time       2024-03-14 18:00:00
entry_count                     87
Name: 1126, dtype: object
1127 mmsi                     431013557
eta_time       2024-03-19 22:50:00
entry_count                     87
Name: 1127, dtype: object
1128 mmsi                     431015341
eta_time       2023-12-04 18:00:00
entry_count                     87
Name: 1128, dtype: object
1129 mmsi                     431015414
eta_time       2024-03-24 11:45:00
entry_count                     87
Name: 1129, dtype: object
1130 mmsi                     636022489
eta_time       2023-12-22 05:11:00
entry_count                     87
Name: 1130, dtype: object
1131 mmsi                     222222222
eta_time       2023-10-13 13:00:00
entry_count                     86
Name: 1131, dtype: object
1132 mmsi                     258882000
eta_time       2023-11-06 20:00:00
entry_count                     86
Name: 1132, dtype: object
1133 mmsi                     352003178
eta_time       2023-11-27 04:58:00
entry_count                     86
Name: 1133, dtype: object
1134 mmsi                     412328466
eta_time       2024-01-01 00:00:00
entry_count                     86
Name: 1134, dtype: object
1135 mmsi                     413579210
eta_time       2024-04-01 18:00:00
entry_count                     86
Name: 1135, dtype: object
1136 mmsi                     414720000
eta_time       2024-03-18 05:00:00
entry_count                     86
Name: 1136, dtype: object
1137 mmsi                     431005199
eta_time       2023-12-13 17:20:00
entry_count                     86
Name: 1137, dtype: object
1138 mmsi                     431013557
eta_time       2023-12-06 22:50:00
entry_count                     86
Name: 1138, dtype: object
1139 mmsi                     431015414
eta_time       2024-03-21 13:25:00
entry_count                     86
Name: 1139, dtype: object
1140 mmsi                     431400282
eta_time       2023-12-31 18:40:00
entry_count                     86
Name: 1140, dtype: object
1141 mmsi                     440311110
eta_time       2022-12-12 12:12:00
entry_count                     86
Name: 1141, dtype: object
1142 mmsi                     440319510
eta_time       2023-12-12 12:12:00
entry_count                     86
Name: 1142, dtype: object
1143 mmsi                     441587000
eta_time       2024-02-24 20:00:00
entry_count                     86
Name: 1143, dtype: object
1144 mmsi                     636014525
eta_time       2024-03-13 11:00:00
entry_count                     86
Name: 1144, dtype: object
1145 mmsi                     649190000
eta_time       2022-01-01 00:00:00
entry_count                     86
Name: 1145, dtype: object
1146 mmsi                     100900047
eta_time       2022-12-10 12:00:00
entry_count                     85
Name: 1146, dtype: object

/var/folders/xl/2j0v3vnj3gbfd5vvjwwz9lr00000gn/T/ipykernel_37211/2739462945.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trajectory[cols.Date] = pd.to_datetime(trajectory[cols.Date])

1690 mmsi                     412331125
eta_time       2023-01-01 00:00:00
entry_count                     38
Name: 1690, dtype: object
1691 mmsi                     412333326
eta_time       2023-01-01 01:01:00
entry_count                     38
Name: 1691, dtype: object
1692 mmsi                     413563740
eta_time       2024-02-12 18:00:00
entry_count                     38
Name: 1692, dtype: object
1693 mmsi                     431275000
eta_time       2024-03-06 20:30:00
entry_count                     38
Name: 1693, dtype: object
1694 mmsi                     431400282
eta_time       2023-12-17 16:20:00
entry_count                     38
Name: 1694, dtype: object
1695 mmsi                     431400282
eta_time       2023-12-20 18:40:00
entry_count                     38
Name: 1695, dtype: object
1696 mmsi                     431400282
eta_time       2023-12-22 06:20:00
entry_count                     38
Name: 1696, dtype: object
1697 mmsi                     440077880
eta_time       2024-03-16 07:00:00
entry_count                     38
Name: 1697, dtype: object
1698 mmsi                     440707290
eta_time       2023-12-12 12:12:00
entry_count                     38
Name: 1698, dtype: object
1699 mmsi                     477538800
eta_time       2023-11-12 23:00:00
entry_count                     38
Name: 1699, dtype: object
1700 mmsi                     538004894
eta_time       2024-02-13 12:00:00
entry_count                     38
Name: 1700, dtype: object
1701 mmsi                     636023404
eta_time       2023-12-07 06:05:00
entry_count                     38
Name: 1701, dtype: object
1702 mmsi                     352065000
eta_time       2023-11-22 10:00:00
entry_count                     37
Name: 1702, dtype: object
1703 mmsi                     412415125
eta_time       2024-01-01 01:01:00
entry_count                     37
Name: 1703, dtype: object
1704 mmsi                     412435307
eta_time       2023-08-08 08:08:00
entry_count                     37
Name: 1704, dtype: object
1705 mmsi                     414869000
eta_time       2023-11-15 18:51:00
entry_count                     37
Name: 1705, dtype: object
1706 mmsi                     431013557
eta_time       2023-11-21 18:00:00
entry_count                     37
Name: 1706, dtype: object
1707 mmsi                     431023109
eta_time       2023-12-05 08:00:00
entry_count                     37
Name: 1707, dtype: object
1708 mmsi                     431400282
eta_time       2024-03-05 18:00:00
entry_count                     37
Name: 1708, dtype: object
1709 mmsi                     440041740
eta_time       2024-02-25 08:30:00
entry_count                     37
Name: 1709, dtype: object
1710 mmsi                     440115890
eta_time       2023-10-18 22:00:00
entry_count                     37
Name: 1710, dtype: object
1711 mmsi                     440116090
eta_time       2024-03-18 18:00:00
entry_count                     37
Name: 1711, dtype: object
1712 mmsi                     440162150
eta_time       2022-03-16 00:00:00
entry_count                     37
Name: 1712, dtype: object
1713 mmsi                     440493000
eta_time       2024-03-24 00:15:00
entry_count                     37
Name: 1713, dtype: object
1714 mmsi                     538009437
eta_time       2023-12-07 02:00:00
entry_count                     37
Name: 1714, dtype: object
1715 mmsi                     228432800
eta_time       2023-11-14 09:00:00
entry_count                     36
Name: 1715, dtype: object
1716 mmsi                     319025300
eta_time       2024-02-13 05:00:00
entry_count                     36
Name: 1716, dtype: object
1717 mmsi                     352978166
eta_time       2023-11-24 00:00:00
entry_count                     36
Name: 1717, dtype: object
1718 mmsi                     354969000
eta_time       2023-11-27 17:00:00
entry_count                     36
Name: 1718, dtype: object
1719 mmsi                     412063555
eta_time       2024-01-01 00:00:00
entry_count                     36
Name: 1719, dtype: object
1720 mmsi                     412301815
eta_time       2021-12-10 12:00:00
entry_count                     36
Name: 1720, dtype: object
1721 mmsi                     413567090
eta_time       2024-01-27 08:30:00
entry_count                     36
Name: 1721, dtype: object
1722 mmsi                     414913000
eta_time       2023-12-08 18:00:00
entry_count                     36
Name: 1722, dtype: object
1723 mmsi                     420015139
eta_time       2023-12-10 12:00:00
entry_count                     36
Name: 1723, dtype: object
1724 mmsi                     431010889
eta_time       2023-12-01 11:15:00
entry_count                     36
Name: 1724, dtype: object
1725 mmsi                     431400282
eta_time       2023-12-03 06:20:00
entry_count                     36
Name: 1725, dtype: object
1726 mmsi                     431400282
eta_time       2023-12-04 18:40:00
entry_count                     36
Name: 1726, dtype: object
1727 mmsi                     431400282
eta_time       2023-12-05 21:00:00
entry_count                     36
Name: 1727, dtype: object
1728 mmsi                     431400282
eta_time       2023-12-06 06:20:00
entry_count                     36
Name: 1728, dtype: object
1729 mmsi                     431400282
eta_time       2023-12-21 01:40:00
entry_count                     36
Name: 1729, dtype: object
1730 mmsi                     431400282
eta_time       2024-03-12 01:40:00
entry_count                     36
Name: 1730, dtype: object
1731 mmsi                     440145840
eta_time       2023-11-28 16:30:00
entry_count                     36
Name: 1731, dtype: object
1732 mmsi                     440500260
eta_time       2024-05-27 14:00:00
entry_count                     36
Name: 1732, dtype: object
1733 mmsi                     441342000
eta_time       2023-11-20 13:00:00
entry_count                     36
Name: 1733, dtype: object
1734 mmsi                     538009552
eta_time       2023-11-28 02:30:00
entry_count                     36
Name: 1734, dtype: object
1735 mmsi                     567535000
eta_time       2023-11-14 23:00:00
entry_count                     36
Name: 1735, dtype: object
1736 mmsi                     374112000
eta_time       2024-02-18 13:30:00
entry_count                     35
Name: 1736, dtype: object
1737 mmsi                     411115888
eta_time       2024-01-01 00:00:00
entry_count                     35
Name: 1737, dtype: object
1738 mmsi                     412330985
eta_time       2023-08-08 07:18:00
entry_count                     35
Name: 1738, dtype: object
1739 mmsi                     412425756
eta_time       2024-01-01 01:01:00
entry_count                     35
Name: 1739, dtype: object
1740 mmsi                     413330999
eta_time       2023-06-05 07:13:00
entry_count                     35
Name: 1740, dtype: object
1741 mmsi                     431005199
eta_time       2023-12-07 17:20:00
entry_count                     35
Name: 1741, dtype: object
1742 mmsi                     431400282
eta_time       2023-12-24 11:40:00
entry_count                     35
Name: 1742, dtype: object
1743 mmsi                     431400282
eta_time       2023-12-28 04:00:00
entry_count                     35
Name: 1743, dtype: object
1744 mmsi                     431400282
eta_time       2024-03-06 06:20:00
entry_count                     35
Name: 1744, dtype: object
1745 mmsi                     431400282
eta_time       2024-03-29 14:00:00
entry_count                     35
Name: 1745, dtype: object
1746 mmsi                     432589898
eta_time       2023-02-07 06:28:00
entry_count                     35
Name: 1746, dtype: object
1747 mmsi                     440099150
eta_time       2023-11-30 13:00:00
entry_count                     35
Name: 1747, dtype: object
1748 mmsi                     440113610
eta_time       2022-09-20 15:00:00
entry_count                     35
Name: 1748, dtype: object
1749 mmsi                     440702840
eta_time       2023-12-15 18:40:00
entry_count                     35
Name: 1749, dtype: object
1750 mmsi                     564220000
eta_time       2023-11-06 23:00:00
entry_count                     35
Name: 1750, dtype: object
1751 mmsi                     232049845
eta_time       2024-02-21 16:45:00
entry_count                     34
Name: 1751, dtype: object
1752 mmsi                     273612530
eta_time       2023-11-21 12:00:00
entry_count                     34
Name: 1752, dtype: object
1753 mmsi                     368122000
eta_time       2024-01-03 00:00:00
entry_count                     34
Name: 1753, dtype: object
1754 mmsi                     412209080
eta_time       2023-11-14 09:40:00
entry_count                     34
Name: 1754, dtype: object
1755 mmsi                     412213614
eta_time       2024-01-01 01:01:00
entry_count                     34
Name: 1755, dtype: object
1756 mmsi                     412231149
eta_time       2024-01-01 00:00:00
entry_count                     34
Name: 1756, dtype: object
1757 mmsi                     412258598
eta_time       2024-01-01 00:00:00
entry_count                     34
Name: 1757, dtype: object
1758 mmsi                     412360025
eta_time       2024-01-01 01:01:00
entry_count                     34
Name: 1758, dtype: object
1759 mmsi                     412410151
eta_time       2023-06-26 07:13:00
entry_count                     34
Name: 1759, dtype: object
1760 mmsi                     412428981
eta_time       2023-11-01 12:00:00
entry_count                     34
Name: 1760, dtype: object
1761 mmsi                     412445748
eta_time       2024-01-01 00:00:00
entry_count                     34
Name: 1761, dtype: object
1762 mmsi                     412449824
eta_time       2022-01-01 01:01:00
entry_count                     34
Name: 1762, dtype: object
1763 mmsi                     431006367
eta_time       2023-10-21 19:20:00
entry_count                     34
Name: 1763, dtype: object
1764 mmsi                     431013557
eta_time       2024-04-01 18:00:00
entry_count                     34
Name: 1764, dtype: object
1765 mmsi                     431015341
eta_time       2024-03-20 22:50:00
entry_count                     34
Name: 1765, dtype: object
1766 mmsi                     431400282
eta_time       2023-12-30 06:20:00
entry_count                     34
Name: 1766, dtype: object
1767 mmsi                     431400282
eta_time       2023-12-31 06:20:00
entry_count                     34
Name: 1767, dtype: object
1768 mmsi                     431400282
eta_time       2024-01-01 01:40:00
entry_count                     34
Name: 1768, dtype: object
1769 mmsi                     431400282
eta_time       2024-03-07 16:20:00
entry_count                     34
Name: 1769, dtype: object
1770 mmsi                     431400282
eta_time       2024-03-29 06:20:00
entry_count                     34
Name: 1770, dtype: object
1771 mmsi                     440109020
eta_time       2024-03-15 16:00:00
entry_count                     34
Name: 1771, dtype: object
1772 mmsi                     440303541
eta_time       2024-01-27 02:00:00
entry_count                     34
Name: 1772, dtype: object
1773 mmsi                     538005240
eta_time       2023-11-21 02:00:00
entry_count                     34
Name: 1773, dtype: object
1774 mmsi                     577100000
eta_time       2023-12-12 12:12:00
entry_count                     34
Name: 1774, dtype: object
1775 mmsi                     636018380
eta_time       2024-02-23 14:00:00
entry_count                     34
Name: 1775, dtype: object
1776 mmsi                     636091527
eta_time       2023-11-17 13:00:00
entry_count                     34
Name: 1776, dtype: object
1777 mmsi                     801234567
eta_time       2022-12-31 00:00:00
entry_count                     34
Name: 1777, dtype: object
1778 mmsi                     111111111
eta_time       2023-08-08 10:00:00
entry_count                     33
Name: 1778, dtype: object
1779 mmsi                     210411000
eta_time       2024-03-22 08:09:00
entry_count                     33
Name: 1779, dtype: object
1780 mmsi                     412437633
eta_time       2021-12-16 19:14:00
entry_count                     33
Name: 1780, dtype: object
1781 mmsi                     431015341
eta_time       2023-11-17 23:00:00
entry_count                     33
Name: 1781, dtype: object
1782 mmsi                     431019967
eta_time       2023-08-26 07:30:00
entry_count                     33
Name: 1782, dtype: object
1783 mmsi                     431400282
eta_time       2023-12-02 14:00:00
entry_count                     33
Name: 1783, dtype: object
1784 mmsi                     431400282
eta_time       2023-12-03 09:20:00
entry_count                     33
Name: 1784, dtype: object
1785 mmsi                     431400282
eta_time       2023-12-04 09:20:00
entry_count                     33
Name: 1785, dtype: object
1786 mmsi                     431400282
eta_time       2023-12-05 01:40:00
entry_count                     33
Name: 1786, dtype: object
1787 mmsi                     431400282
eta_time       2023-12-06 11:40:00
entry_count                     33
Name: 1787, dtype: object
1788 mmsi                     431400282
eta_time       2023-12-09 18:40:00
entry_count                     33
Name: 1788, dtype: object
1789 mmsi                     431400282
eta_time       2023-12-27 21:00:00
entry_count                     33
Name: 1789, dtype: object
1790 mmsi                     431400282
eta_time       2024-03-24 14:00:00
entry_count                     33
Name: 1790, dtype: object
1791 mmsi                     431400282
eta_time       2024-03-26 14:00:00
entry_count                     33
Name: 1791, dtype: object
1792 mmsi                     431400282
eta_time       2024-03-29 01:40:00
entry_count                     33
Name: 1792, dtype: object
1793 mmsi                     440010000
eta_time       2024-02-28 23:00:00
entry_count                     33
Name: 1793, dtype: object
1794 mmsi                     440100900
eta_time       2024-03-31 08:30:00
entry_count                     33
Name: 1794, dtype: object
1795 mmsi                     440400990
eta_time       2023-12-12 12:12:00
entry_count                     33
Name: 1795, dtype: object
1796 mmsi                     538009437
eta_time       2023-12-07 18:00:00
entry_count                     33
Name: 1796, dtype: object
1797 mmsi                     564090000
eta_time       2023-11-18 22:00:00
entry_count                     33
Name: 1797, dtype: object
1798 mmsi                     351757000
eta_time       2023-12-03 17:00:00
entry_count                     32
Name: 1798, dtype: object
1799 mmsi                     352001216
eta_time       2023-11-20 22:30:00
entry_count                     32
Name: 1799, dtype: object
1800 mmsi                     374333000
eta_time       2023-12-01 03:00:00
entry_count                     32
Name: 1800, dtype: object
1801 mmsi                     412222200
eta_time       2024-01-01 00:00:00
entry_count                     32
Name: 1801, dtype: object
1802 mmsi                     412320868
eta_time       2022-01-01 00:00:00
entry_count                     32
Name: 1802, dtype: object
1803 mmsi                     412435836
eta_time       2024-01-01 00:00:00
entry_count                     32
Name: 1803, dtype: object
1804 mmsi                     412439352
eta_time       2023-01-01 01:01:00
entry_count                     32
Name: 1804, dtype: object
1805 mmsi                     413000000
eta_time       2024-01-01 00:00:00
entry_count                     32
Name: 1805, dtype: object
1806 mmsi                     431010619
eta_time       2024-02-16 10:00:00
entry_count                     32
Name: 1806, dtype: object
1807 mmsi                     431400282
eta_time       2023-12-05 16:20:00
entry_count                     32
Name: 1807, dtype: object
1808 mmsi                     431400282
eta_time       2023-12-06 18:40:00
entry_count                     32
Name: 1808, dtype: object
1809 mmsi                     431400282
eta_time       2023-12-17 14:00:00
entry_count                     32
Name: 1809, dtype: object
1810 mmsi                     431400282
eta_time       2024-03-10 21:00:00
entry_count                     32
Name: 1810, dtype: object
1811 mmsi                     431400282
eta_time       2024-03-18 14:00:00
entry_count                     32
Name: 1811, dtype: object
1812 mmsi                     431400282
eta_time       2024-03-26 21:00:00
entry_count                     32
Name: 1812, dtype: object
1813 mmsi                     440629000
eta_time       2023-12-14 16:00:00
entry_count                     32
Name: 1813, dtype: object
1814 mmsi                     441376000
eta_time       2024-01-16 20:00:00
entry_count                     32
Name: 1814, dtype: object
1815 mmsi                     441990000
eta_time       2023-11-10 23:00:00
entry_count                     32
Name: 1815, dtype: object
1816 mmsi                     563177800
eta_time       2023-11-11 04:00:00
entry_count                     32
Name: 1816, dtype: object
1817 mmsi                     563727000
eta_time       2024-01-07 19:00:00
entry_count                     32
Name: 1817, dtype: object
1818 mmsi                     990003268
eta_time       2022-12-25 13:41:00
entry_count                     32
Name: 1818, dtype: object
1819 mmsi                     259976000
eta_time       2023-11-06 20:00:00
entry_count                     31
Name: 1819, dtype: object
1820 mmsi                     374630000
eta_time       2023-11-07 11:00:00
entry_count                     31
Name: 1820, dtype: object
1821 mmsi                     412223221
eta_time       2023-02-07 06:28:00
entry_count                     31
Name: 1821, dtype: object
1822 mmsi                     412335417
eta_time       2023-12-14 07:29:00
entry_count                     31
Name: 1822, dtype: object
1823 mmsi                     412352052
eta_time       2023-10-08 00:00:00
entry_count                     31
Name: 1823, dtype: object
1824 mmsi                     412354345
eta_time       2024-01-01 01:01:00
entry_count                     31
Name: 1824, dtype: object
1825 mmsi                     412426858
eta_time       2024-01-01 00:00:00
entry_count                     31
Name: 1825, dtype: object
1826 mmsi                     431400282
eta_time       2023-12-11 11:40:00
entry_count                     31
Name: 1826, dtype: object
1827 mmsi                     431400282
eta_time       2023-12-16 06:20:00
entry_count                     31
Name: 1827, dtype: object
1828 mmsi                     431400282
eta_time       2023-12-19 06:20:00
entry_count                     31
Name: 1828, dtype: object
1829 mmsi                     431400282
eta_time       2023-12-30 16:20:00
entry_count                     31
Name: 1829, dtype: object
1830 mmsi                     431400282
eta_time       2023-12-30 21:00:00
entry_count                     31
Name: 1830, dtype: object
1831 mmsi                     431400282
eta_time       2023-12-30 23:20:00
entry_count                     31
Name: 1831, dtype: object
1832 mmsi                     431400282
eta_time       2024-03-13 09:20:00
entry_count                     31
Name: 1832, dtype: object
1833 mmsi                     431400282
eta_time       2024-03-21 21:00:00
entry_count                     31
Name: 1833, dtype: object
1834 mmsi                     440041740
eta_time       2023-12-19 08:30:00
entry_count                     31
Name: 1834, dtype: object
1835 mmsi                     440233000
eta_time       2023-12-17 08:00:00
entry_count                     31
Name: 1835, dtype: object
1836 mmsi                     440300280
eta_time       2022-12-12 12:12:00
entry_count                     31
Name: 1836, dtype: object

/var/folders/xl/2j0v3vnj3gbfd5vvjwwz9lr00000gn/T/ipykernel_37211/2739462945.py:76: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["timestamp"] = pd.to_datetime(df["ts_string"], errors="coerce")

2335 mmsi                     431010889
eta_time       2023-11-14 11:15:00
entry_count                     17
Name: 2335, dtype: object
2336 mmsi                     431013876
eta_time       2023-11-07 13:25:00
entry_count                     17
Name: 2336, dtype: object
2337 mmsi                     431013876
eta_time       2023-11-28 11:45:00
entry_count                     17
Name: 2337, dtype: object
2338 mmsi                     431015341
eta_time       2023-11-04 18:00:00
entry_count                     17
Name: 2338, dtype: object
2339 mmsi                     431015341
eta_time       2023-11-11 23:00:00
entry_count                     17
Name: 2339, dtype: object
2340 mmsi                     431015341
eta_time       2023-11-22 18:00:00
entry_count                     17
Name: 2340, dtype: object
2341 mmsi                     431015341
eta_time       2023-11-25 23:00:00
entry_count                     17
Name: 2341, dtype: object
2342 mmsi                     431015341
eta_time       2023-11-28 18:00:00
entry_count                     17
Name: 2342, dtype: object
2343 mmsi                     431015341
eta_time       2023-11-29 22:50:00
entry_count                     17
Name: 2343, dtype: object
2344 mmsi                     431400282
eta_time       2023-12-05 11:40:00
entry_count                     17
Name: 2344, dtype: object
2345 mmsi                     431400282
eta_time       2023-12-05 23:20:00
entry_count                     17
Name: 2345, dtype: object
2346 mmsi                     431400282
eta_time       2023-12-06 04:00:00
entry_count                     17
Name: 2346, dtype: object
2347 mmsi                     431400282
eta_time       2023-12-15 11:40:00
entry_count                     17
Name: 2347, dtype: object
2348 mmsi                     431400282
eta_time       2023-12-27 09:20:00
entry_count                     17
Name: 2348, dtype: object
2349 mmsi                     431400282
eta_time       2024-01-01 09:20:00
entry_count                     17
Name: 2349, dtype: object
2350 mmsi                     431400282
eta_time       2024-03-11 01:40:00
entry_count                     17
Name: 2350, dtype: object
2351 mmsi                     431400282
eta_time       2024-03-12 11:40:00
entry_count                     17
Name: 2351, dtype: object
2352 mmsi                     431400282
eta_time       2024-03-12 21:00:00
entry_count                     17
Name: 2352, dtype: object
2353 mmsi                     431400282
eta_time       2024-03-12 23:20:00
entry_count                     17
Name: 2353, dtype: object
2354 mmsi                     431400282
eta_time       2024-03-16 01:40:00
entry_count                     17
Name: 2354, dtype: object
2355 mmsi                     431400282
eta_time       2024-03-16 21:00:00
entry_count                     17
Name: 2355, dtype: object
2356 mmsi                     431400282
eta_time       2024-03-18 11:40:00
entry_count                     17
Name: 2356, dtype: object
2357 mmsi                     431400282
eta_time       2024-03-22 06:20:00
entry_count                     17
Name: 2357, dtype: object
2358 mmsi                     431400282
eta_time       2024-03-22 09:20:00
entry_count                     17
Name: 2358, dtype: object
2359 mmsi                     431400282
eta_time       2024-03-27 23:20:00
entry_count                     17
Name: 2359, dtype: object
2360 mmsi                     431400282
eta_time       2024-03-28 11:40:00
entry_count                     17
Name: 2360, dtype: object
2361 mmsi                     431400282
eta_time       2024-03-30 06:20:00
entry_count                     17
Name: 2361, dtype: object
2362 mmsi                     431400282
eta_time       2024-03-31 23:20:00
entry_count                     17
Name: 2362, dtype: object
2363 mmsi                     431824000
eta_time       2024-01-25 06:00:00
entry_count                     17
Name: 2363, dtype: object
2364 mmsi                     440130790
eta_time       2023-08-17 23:00:00
entry_count                     17
Name: 2364, dtype: object
2365 mmsi                     538009927
eta_time       2023-12-21 00:00:00
entry_count                     17
Name: 2365, dtype: object
2366 mmsi                     562028839
eta_time       2024-01-01 00:00:00
entry_count                     17
Name: 2366, dtype: object
2367 mmsi                     563089400
eta_time       2023-11-08 01:30:00
entry_count                     17
Name: 2367, dtype: object
2368 mmsi                     567535000
eta_time       2023-12-05 02:00:00
entry_count                     17
Name: 2368, dtype: object
2369 mmsi                     636023891
eta_time       2024-03-22 03:38:00
entry_count                     17
Name: 2369, dtype: object
2370 mmsi                     352003541
eta_time       2024-03-05 00:01:00
entry_count                     16
Name: 2370, dtype: object
2371 mmsi                     370087000
eta_time       2023-11-13 23:00:00
entry_count                     16
Name: 2371, dtype: object
2372 mmsi                     412240208
eta_time       2024-01-01 00:00:00
entry_count                     16
Name: 2372, dtype: object
2373 mmsi                     412416118
eta_time       2023-12-10 12:00:00
entry_count                     16
Name: 2373, dtype: object
2374 mmsi                     412436302
eta_time       2022-08-08 08:08:00
entry_count                     16
Name: 2374, dtype: object
2375 mmsi                     412798948
eta_time       2024-01-01 00:00:00
entry_count                     16
Name: 2375, dtype: object
2376 mmsi                     414906000
eta_time       2023-11-20 20:00:00
entry_count                     16
Name: 2376, dtype: object
2377 mmsi                     431005199
eta_time       2023-11-05 17:20:00
entry_count                     16
Name: 2377, dtype: object
2378 mmsi                     431010889
eta_time       2023-11-05 11:15:00
entry_count                     16
Name: 2378, dtype: object
2379 mmsi                     431010889
eta_time       2023-11-15 11:15:00
entry_count                     16
Name: 2379, dtype: object
2380 mmsi                     431010889
eta_time       2023-11-26 11:15:00
entry_count                     16
Name: 2380, dtype: object
2381 mmsi                     431013876
eta_time       2023-11-06 11:45:00
entry_count                     16
Name: 2381, dtype: object
2382 mmsi                     431013876
eta_time       2023-11-09 13:25:00
entry_count                     16
Name: 2382, dtype: object
2383 mmsi                     431013876
eta_time       2023-11-21 13:25:00
entry_count                     16
Name: 2383, dtype: object
2384 mmsi                     431015341
eta_time       2023-11-06 18:00:00
entry_count                     16
Name: 2384, dtype: object
2385 mmsi                     431015341
eta_time       2023-11-26 18:00:00
entry_count                     16
Name: 2385, dtype: object
2386 mmsi                     431015414
eta_time       2023-11-01 11:45:00
entry_count                     16
Name: 2386, dtype: object
2387 mmsi                     431400282
eta_time       2023-11-12 06:20:00
entry_count                     16
Name: 2387, dtype: object
2388 mmsi                     431400282
eta_time       2023-12-13 06:20:00
entry_count                     16
Name: 2388, dtype: object
2389 mmsi                     431400282
eta_time       2023-12-14 09:20:00
entry_count                     16
Name: 2389, dtype: object
2390 mmsi                     431400282
eta_time       2023-12-15 09:20:00
entry_count                     16
Name: 2390, dtype: object
2391 mmsi                     431400282
eta_time       2023-12-15 16:20:00
entry_count                     16
Name: 2391, dtype: object
2392 mmsi                     431400282
eta_time       2023-12-20 16:20:00
entry_count                     16
Name: 2392, dtype: object
2393 mmsi                     431400282
eta_time       2023-12-22 01:40:00
entry_count                     16
Name: 2393, dtype: object
2394 mmsi                     431400282
eta_time       2023-12-27 18:20:00
entry_count                     16
Name: 2394, dtype: object
2395 mmsi                     431400282
eta_time       2024-03-09 23:20:00
entry_count                     16
Name: 2395, dtype: object
2396 mmsi                     431400282
eta_time       2024-03-10 06:20:00
entry_count                     16
Name: 2396, dtype: object
2397 mmsi                     431400282
eta_time       2024-03-16 16:20:00
entry_count                     16
Name: 2397, dtype: object
2398 mmsi                     431400282
eta_time       2024-03-17 21:00:00
entry_count                     16
Name: 2398, dtype: object
2399 mmsi                     431400282
eta_time       2024-03-19 16:20:00
entry_count                     16
Name: 2399, dtype: object
2400 mmsi                     431400282
eta_time       2024-03-24 21:00:00
entry_count                     16
Name: 2400, dtype: object
2401 mmsi                     431400282
eta_time       2024-03-25 21:00:00
entry_count                     16
Name: 2401, dtype: object
2402 mmsi                     431400282
eta_time       2024-03-26 04:00:00
entry_count                     16
Name: 2402, dtype: object
2403 mmsi                     431400282
eta_time       2024-03-26 06:20:00
entry_count                     16
Name: 2403, dtype: object
2404 mmsi                     431400282
eta_time       2024-03-29 23:20:00
entry_count                     16
Name: 2404, dtype: object
2405 mmsi                     431400282
eta_time       2024-03-30 19:00:00
entry_count                     16
Name: 2405, dtype: object
2406 mmsi                     440113765
eta_time       2024-01-17 23:59:00
entry_count                     16
Name: 2406, dtype: object
2407 mmsi                     440134750
eta_time       2023-11-27 15:00:00
entry_count                     16
Name: 2407, dtype: object
2408 mmsi                     440702840
eta_time       2024-02-21 05:40:00
entry_count                     16
Name: 2408, dtype: object
2409 mmsi                     440883000
eta_time       2023-12-30 13:40:00
entry_count                     16
Name: 2409, dtype: object
2410 mmsi                     636092854
eta_time       2023-11-20 03:00:00
entry_count                     16
Name: 2410, dtype: object
2411 mmsi                     256708000
eta_time       2023-12-25 13:22:00
entry_count                     15
Name: 2411, dtype: object
2412 mmsi                     311000182
eta_time       2023-11-13 22:30:00
entry_count                     15
Name: 2412, dtype: object
2413 mmsi                     353414000
eta_time       2023-11-02 18:00:00
entry_count                     15
Name: 2413, dtype: object
2414 mmsi                     412252777
eta_time       2023-12-30 08:00:00
entry_count                     15
Name: 2414, dtype: object
2415 mmsi                     412288369
eta_time       2024-01-01 00:00:00
entry_count                     15
Name: 2415, dtype: object
2416 mmsi                     412434195
eta_time       2024-01-01 00:00:00
entry_count                     15
Name: 2416, dtype: object
2417 mmsi                     412435091
eta_time       2024-01-01 00:00:00
entry_count                     15
Name: 2417, dtype: object
2418 mmsi                     422222222
eta_time       2024-01-01 01:01:00
entry_count                     15
Name: 2418, dtype: object
2419 mmsi                     431005199
eta_time       2023-11-12 17:20:00
entry_count                     15
Name: 2419, dtype: object
2420 mmsi                     431013876
eta_time       2023-11-25 13:25:00
entry_count                     15
Name: 2420, dtype: object
2421 mmsi                     431013876
eta_time       2023-11-29 13:25:00
entry_count                     15
Name: 2421, dtype: object
2422 mmsi                     431015341
eta_time       2023-11-08 18:00:00
entry_count                     15
Name: 2422, dtype: object
2423 mmsi                     431015341
eta_time       2023-11-20 18:00:00
entry_count                     15
Name: 2423, dtype: object
2424 mmsi                     431015414
eta_time       2023-11-04 13:25:00
entry_count                     15
Name: 2424, dtype: object
2425 mmsi                     431015414
eta_time       2023-11-16 13:25:00
entry_count                     15
Name: 2425, dtype: object
2426 mmsi                     431015414
eta_time       2023-11-26 13:25:00
entry_count                     15
Name: 2426, dtype: object
2427 mmsi                     431015414
eta_time       2023-11-27 11:45:00
entry_count                     15
Name: 2427, dtype: object
2428 mmsi                     431400282
eta_time       2023-11-15 06:20:00
entry_count                     15
Name: 2428, dtype: object
2429 mmsi                     431400282
eta_time       2023-12-10 11:40:00
entry_count                     15
Name: 2429, dtype: object
2430 mmsi                     431400282
eta_time       2023-12-17 09:20:00
entry_count                     15
Name: 2430, dtype: object
2431 mmsi                     431400282
eta_time       2023-12-22 16:20:00
entry_count                     15
Name: 2431, dtype: object
2432 mmsi                     431400282
eta_time       2023-12-25 11:40:00
entry_count                     15
Name: 2432, dtype: object
2433 mmsi                     431400282
eta_time       2023-12-26 06:20:00
entry_count                     15
Name: 2433, dtype: object
2434 mmsi                     431400282
eta_time       2023-12-29 14:00:00
entry_count                     15
Name: 2434, dtype: object
2435 mmsi                     431400282
eta_time       2024-03-13 16:20:00
entry_count                     15
Name: 2435, dtype: object
2436 mmsi                     431400282
eta_time       2024-03-16 06:20:00
entry_count                     15
Name: 2436, dtype: object
2437 mmsi                     431400282
eta_time       2024-03-16 09:20:00
entry_count                     15
Name: 2437, dtype: object
2438 mmsi                     431400282
eta_time       2024-03-17 14:00:00
entry_count                     15
Name: 2438, dtype: object
2439 mmsi                     431400282
eta_time       2024-03-17 18:40:00
entry_count                     15
Name: 2439, dtype: object
2440 mmsi                     431400282
eta_time       2024-03-20 11:40:00
entry_count                     15
Name: 2440, dtype: object
2441 mmsi                     431400282
eta_time       2024-03-20 18:40:00
entry_count                     15
Name: 2441, dtype: object
2442 mmsi                     431400282
eta_time       2024-03-20 23:20:00
entry_count                     15
Name: 2442, dtype: object
2443 mmsi                     431400282
eta_time       2024-03-23 01:40:00
entry_count                     15
Name: 2443, dtype: object
2444 mmsi                     431400282
eta_time       2024-03-26 09:20:00
entry_count                     15
Name: 2444, dtype: object
2445 mmsi                     440002530
eta_time       2023-06-06 13:06:00
entry_count                     15
Name: 2445, dtype: object
2446 mmsi                     440038520
eta_time       2024-01-29 18:00:00
entry_count                     15
Name: 2446, dtype: object
2447 mmsi                     440043000
eta_time       2023-12-30 12:00:00
entry_count                     15
Name: 2447, dtype: object
2448 mmsi                     440061160
eta_time       2023-05-30 12:00:00
entry_count                     15
Name: 2448, dtype: object
2449 mmsi                     440093000
eta_time       2023-11-30 11:00:00
entry_count                     15
Name: 2449, dtype: object
2450 mmsi                     440144280
eta_time       2023-11-03 05:00:00
entry_count                     15
Name: 2450, dtype: object
2451 mmsi                     440432000
eta_time       2023-11-06 09:00:00
entry_count                     15
Name: 2451, dtype: object
2452 mmsi                     440452000
eta_time       2024-03-28 16:00:00
entry_count                     15
Name: 2452, dtype: object
2453 mmsi                     440705470
eta_time       2023-03-05 15:50:00
entry_count                     15
Name: 2453, dtype: object
2454 mmsi                     538009552
eta_time       2023-11-28 00:01:00
entry_count                     15
Name: 2454, dtype: object
2455 mmsi                     538010267
eta_time       2023-11-11 16:00:00
entry_count                     15
Name: 2455, dtype: object
2456 mmsi                     563206300
eta_time       2023-11-05 03:00:00
entry_count                     15
Name: 2456, dtype: object
2457 mmsi                     563727000
eta_time       2023-12-15 07:40:00
entry_count                     15
Name: 2457, dtype: object
2458 mmsi                     585858585
eta_time       2024-01-01 00:00:00
entry_count                     15
Name: 2458, dtype: object
2459 mmsi                     612540104
eta_time       2024-01-01 00:00:00
entry_count                     15
Name: 2459, dtype: object
2460 mmsi                     636023203
eta_time       2023-12-04 05:00:00
entry_count                     15
Name: 2460, dtype: object
2461 mmsi                     232027081
eta_time       2023-11-11 12:00:00
entry_count                     14
Name: 2461, dtype: object
2462 mmsi                     308808000
eta_time       2023-11-02 04:00:00
entry_count                     14
Name: 2462, dtype: object
2463 mmsi                     311000182
eta_time       2023-11-12 22:30:00
entry_count                     14
Name: 2463, dtype: object
2464 mmsi                     352952000
eta_time       2023-11-10 09:00:00
entry_count                     14
Name: 2464, dtype: object
2465 mmsi                     373175000
eta_time       2023-11-12 20:00:00
entry_count                     14
Name: 2465, dtype: object
2466 mmsi                     412020009
eta_time       2024-01-01 00:00:00
entry_count                     14
Name: 2466, dtype: object
2467 mmsi                     412088888
eta_time       2024-01-01 00:00:00
entry_count                     14
Name: 2467, dtype: object
2468 mmsi                     412216111
eta_time       2023-01-01 01:01:00
entry_count                     14
Name: 2468, dtype: object
2469 mmsi                     412366666
eta_time       2024-01-01 00:00:00
entry_count                     14
Name: 2469, dtype: object
2470 mmsi                     412412181
eta_time       2024-01-01 01:01:00
entry_count                     14
Name: 2470, dtype: object
2471 mmsi                     412413105
eta_time       2023-01-01 00:00:00
entry_count                     14
Name: 2471, dtype: object
2472 mmsi                     412413246
eta_time       2022-07-13 13:59:00
entry_count                     14
Name: 2472, dtype: object
2473 mmsi                     412416436
eta_time       2022-12-10 12:00:00
entry_count                     14
Name: 2473, dtype: object
2474 mmsi                     412417709
eta_time       2023-12-10 12:00:00
entry_count                     14
Name: 2474, dtype: object
2475 mmsi                     414903000
eta_time       2023-12-10 11:30:00
entry_count                     14
Name: 2475, dtype: object
2476 mmsi                     431005199
eta_time       2023-11-10 17:20:00
entry_count                     14
Name: 2476, dtype: object
2477 mmsi                     431010889
eta_time       2023-11-03 11:15:00
entry_count                     14
Name: 2477, dtype: object
2478 mmsi                     431013876
eta_time       2023-11-18 11:45:00
entry_count                     14
Name: 2478, dtype: object
2479 mmsi                     431015414
eta_time       2023-11-05 11:45:00
entry_count                     14
Name: 2479, dtype: object
2480 mmsi                     431015414
eta_time       2023-11-10 13:25:00
entry_count                     14
Name: 2480, dtype: object
2481 mmsi                     431015414
eta_time       2023-11-12 13:25:00
entry_count                     14
Name: 2481, dtype: object